__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.git/
.gitignore

.vscode/
.idea/

logs/

datasets/
data/

Miniconda3-latest-Linux-x86_64.sh

artifacts/checkpoints/
artifacts/plots/
artifacts/optuna_plots/

README.md

tests/
test.py

notebooks/