# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.imdb_env/
conda-meta/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
logs/
*.log

# Model Artifacts
artifacts/checkpoints/
artifacts/models/SimpleRNN.keras
artifacts/distibert_model/tf_model.h5
artifacts/plots/
artifacts/optuna_plots/

# Dataset Files
datasets/
data/
*.csv
*.zip
*.tar.gz

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Build Files
build/
dist/
*.egg-info/

# Docker
docker-compose.yml

# Miniconda Installer
Miniconda3-latest-Linux-x86_64.sh

# Notebooks
notebooks/

#extra test file
test.py